// @import "src/@fuse/scss/fuse";

@import '../../../../styles-variables';


#opgave {
    width: 100%;
    min-width: 100%;
    display: flex;
    -webkit-box-flex: 1;
flex: 1 1 auto;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
position: relative;
overflow: hidden;

    .center {
        width: 100%;

        .header {

            background: #375e5e;
            color: white;

            .search-wrapper {
                overflow: hidden;
                @include mat-elevation(1);
                color: white;

                .sidebar-toggle {
                    margin: 0 0 0 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    border-right: 1px solid;
                    color: white;
                }

                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;
                    color: white;

                    input {
                        height: 56px;
                        min-height: 56px;
                        max-height: 56px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: white;
                    }
                }
            }
        }

        .content-card {

            .toolbar {

                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }
            }

            @include media-breakpoint('lt-xl') {

                opgave-liste {
                    border-right: 0;
                }

                opgave-liste,
                opgave-detaljer {
                    flex: 1 0 100%;
                }

                opgave-detaljer {
                    display: none !important;
                }

                &.current-opgave-selected {

                    .toolbar {
                        padding-left: 16px !important;

                        .opgave-selection {
                            display: none !important;
                        }
                    }

                    .content {

                        opgave-liste {
                            display: none !important;
                        }

                        opgave-detaljer {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}

