// @import "src/@fuse/scss/fuse";

@import '../../../../../styles-variables.scss';


assistent-start {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;

    .big-circle {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        line-height: 240px;
        text-align: center;
        border: 1px solid;

        @include media-breakpoint('lt-md') {
            width: 160px;
            height: 160px;
            line-height: 160px;
        }
    }

    .app-title {
        font-weight: 600;
        font-size: 32px;
    }

    .secondary-text {
        font-size: 16px;
    }
}
