app-sidebars {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
    display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-flex: 1;
flex: 1 1 auto; 
width: 200px;
min-width: 200px;
max-width: 200px;
height: auto;
overflow: hidden;
box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
background: white;

    .header {

        .logo {

            .logo-icon {
                margin: 0 16px 0 0;
            }

            .logo-text { 
                font-size: 24px;
                line-height: 24px;
            }
        }

        .account {
            width: 100%;
        }
    }
}


.header {
    align-items: center;
}
.content {
    width:  100%;
}
.nav.material2 .nav-item .nav-link, .material2 .nav .nav-item .nav-link {
    height: 40px;
    padding: 0 12px 0 24px;
    border-radius: 0 20px 20px 0;
    margin-right: 16px;
}

.nav .nav-item .nav-link {
    text-decoration: none !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
}

.nav-link-icon, .nav .nav-item .nav-link .collapsable-arrow {
    font-size: 20px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
}

.nav .nav-item .nav-link .nav-link-icon {
    margin-right: 20px;
}

.nav .nav-item .nav-link {
    cursor: pointer;
    color: currentColor;
}

@media (max-width: 960px) {

    .nav.material2 .nav-item .nav-link, .material2 .nav .nav-item .nav-link {

        height: 40px;
        padding: 0 0px 0 0px !important;
        border-radius: 0 20px 20px 0;
        margin-right: 0px !important;
    
    }

  

#filtermenu {
display: flex;
flex-flow: row;
    flex-wrap: nowrap;
width: 100%;
flex-wrap: wrap;
}}

.add-opgave-button {
    margin: 15px 0 20px 0.2rem;
}

.add-event-button {
    position: absolute;
    right: 18px;
    bottom: -26px;
    z-index: 10;
}

.nav-subheader {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    font-weight: 600;
    padding-left: 24px;
    margin-top: 8px;
    font-size: 12px;
    white-space: nowrap;
}