<!-- SIDEBAR HEADER -->
<div class="p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon secondary-text s-36 mr-16">local_library</mat-icon>
        <span class="logo-text h1">Library</span>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content py-16"> 

    <div class="nav material2">

        <div class="nav-item" aria-label="inbox">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">folder</mat-icon>
                <span class="title">My Documents</span>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">menu_book</mat-icon>
                <div class="title">Online reader</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">library_books</mat-icon>
                <div class="title">E-books</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
<img class="nav-link-icon" id="audiobutton" src="../../../assets/icons/podcast.svg" width="24" height="24">
                <div class="title">Podcasts</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">library_music</mat-icon>
                <div class="title">Sounds</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">folder_shared</mat-icon>
                <div class="title">Assigned for me</div>
            </a>
        </div>
 
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
